<h2>Refile Content Type Test</h2>

<hr />

<%= form_for @new_thing do |form| %>
  <%= form.attachment_field :image %>

  <%= form.submit %>
<% end %>

<hr />

<% if @things.any? %>
  <h3>Existing Things:</h3>

  <ul>
    <% @things.each do |thing| %>
      <li>
        <%= image_tag attachment_url(thing, :image) %>
      </li>
    <% end %>
  </ul>
<% end %>
